@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.hero-btn-primary,
.hero-btn-outline {
  font-size: 1.1rem;
  background-color: transparent;
  color: #fff;
  padding: 10px 5px;
  border: 1px solid #fff;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: #fff;
  color: #000000;
  transition: background 0.2s ease-in-out;
  font-weight: 600;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  color: #fff;
}

.hero-h1 {
  font-size: 70px;
  margin-top: -100px;
  font-family: 'Raleway', sans-serif;
}

.hero-p {
  font-size: 25px;
  font-weight: 100;
  margin-bottom: 40px;
}

.hero-btn {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  padding: 15px;
}

.hero-btn:nth-of-type(1) {
  margin-right: 20px;
}

/*  MEDIA QUERIES */

@media screen and (max-width: 960px) {
  .hero-h1 {
    font-size: 50px;
  }

  .hero-p {
    font-size: 25px;
  }

  .hero-btn {
    letter-spacing: 2px;
    font-size: 12px;
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  .hero-h1 {
    font-size: 40px;
  }

  .hero-p {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .hero-btn {
    letter-spacing: 1px;
    font-size: 11px;
  }
}

@media screen and (max-width: 400px) {
  .hero-h1 {
    font-size: 35px;
  }

  .hero-p {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .hero-btns {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    font-size: 12px;
  }

  .hero-btn-outline {
    margin-right: 20px;
    margin-top: 10px;
  }
}
